<html>
<head>
<%- include('./blocks/header') %>
<title>Void Servers - Terms</title>
<meta content="Void Servers - Terms" property="og:title">
<meta content="Legal stuff ¯\_(ツ)_/¯" property="og:description">
<meta name="theme-color" content="#8A215A">
<meta name="og:image" content="https://voidbots.net/assets/img/logo_white.png" />
</head>
<body>
  <%- include('./blocks/navbar', { bot, user }) %>
  <div class="bigthingy row">
  <div class="seeme col-md-8 offset-md-2 row">
    <div class="seeme col-sm-2 sinfo">
      <p id="bigytxt" class="bigyimg" style="font-size:88px;"><i class="fas fa-file-signature"></i></p>
    </div>
    <div class="seeme col-sm-10 sinfo">
      <p id="bigytxt"><span style="font-size:25px; font-weight:bold;">Terms and Conditions</span><br />Legal stuff ¯\_(ツ)_/¯</p>
    </div>
  </div>
  </div>
  <br />  <br />  <br />
  <div class="container mt-3">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="card mb-8">
            <div class="card-body">
              <p style="text-align: left;">You agree to be bound by our website rules and any laws which may apply to this website and your participation.
      The website administration have the right to ban your account or guild at any time, delete any content you may have posted, and use your IP address and any data you input to the website to assist the site staff with their moderation duties.
      The site administration have the right to change these terms and conditions, and any site rules, at any point without warning. Whilst you may be informed of any changes, it is your responsibility to check these terms and the rules at any point.<p>
            </div>
          </div>
      </div>
    </div>
  </div>

  </div><br /><br />
  <%- include('./blocks/footer') %>
</body>
</html>
