<footer class="my-5 pt-5 text-muted text-center text-small" style="cursor:default;">
      <p class="mb-1"><a href="//www.dmca.com/Protection/Status.aspx?ID=083bab85-7a49-489d-8e84-e09cc7f583d2" data-html="true" data-toggle="tooltip" title="OwO I see you got your protection <em>giggles</em>" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120n.png?ID=083bab85-7a49-489d-8e84-e09cc7f583d2"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script></p>
      <!-- <p class="mb-1">Copyright &copy; Void Development</p> -->
      <p class="mb-1"><span data-html="true" data-toggle="tooltip" title='Designed Using<br /><i class="fab fa-bootstrap"></i> <b>Bootstrap</b><br /><i class="fab fa-css3-alt"></i> <b>CSS3</b><br /><i class="fab fa-html5"></i> <b>HTML5</b><br /><i class="fas fa-code"></i> <b>Embeded JS</b>'>Designed by AshMW</span> &bull; <span data-html="true" data-toggle="tooltip" title='Developed Using<br /><i class="fab fa-node-js"></i> <b>NodeJS</b><br /><i class="fab fa-js-square"></i> <b>Javascript</b><br /><i class="fas fa-database"></i> <b>MongoDB</b><br /><i class="fas fa-code"></i> <b>Express</b>'> Developed by DanPlayz</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="/privacy">Privacy</a></li>
        <li class="list-inline-item"><a href="/terms">Terms</a></li>
        <li class="list-inline-item"><a href="/join">Support</a></li>
      </ul>
</footer>
