<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149691729-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149691729-3');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script async src="https://arc.io/widget.js#kqGtx3tp"></script>
<link rel="stylesheet" href="/style/style.css">
<script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
<script>
$(document).ready(function(){
  $('#nobr a').attr('target', '_blank');
  $('#nobr a').attr('data-toggle', 'tooltip');
  $('#nobr a').attr('data-html', 'true');
  $('#nobr a').attr('class', 'outlink');
  $('#nobr a').attr('title', '<span class="text-danger"><b>Warning:</b></span><br />This links to an external site!');
});
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js'></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="http://voidbots.net/assets/img/logo_white.png" />
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<style>
  #bigytxt {
    vertical-align: middle;
    height:200px;
    display: table-cell;
    width: 100vw !important;
    margin: 0;
  }
  .bigyimg {
    text-align: right;
  }
.navbar {
  position:relitive;
  position:fixed;
  top:0;
  z-index:100;
  left:0;
  right:0;
}
.bigthingy * {
color:#fff;
}
.bigthingy {
  background: rgb(162,36,107);
  background: -moz-linear-gradient(90deg, rgba(162,36,107,1) 36%, rgba(83,13,52,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(162,36,107,1) 36%, rgba(83,13,52,1) 100%);
  background: linear-gradient(90deg, rgba(162,36,107,1) 36%, rgba(83,13,52,1) 100%);
  height:255px;
  margin:0;
  padding-top:30px;
  max-width:100vw;
  box-shadow:0 7px 7px 1px #aaa;
  border-bottom:5px solid #fafafa;
}

@media only screen and (max-width: 575px) {
  #bigytxt {
  text-align:center;
  height:0px !important;
}
.bigyimg {
  text-align:center !important;
  vertical-align:-10px;
}
}
/* .seeme {
  border:5px solid #fff;
} */
</style>
